$font-size-base:16px;

$text-xxs: $font-size-base * 0.25; //4px
$text-xs: $font-size-base * 0.75; //12px
$text-s: $font-size-base * 0.875; //14px
$text-base: $font-size-base; 
$text-m: $font-size-base * 1.25; //20px
$text-l: $font-size-base * 1.5; //24px
$text-2l: $font-size-base * 1.75; //28px
$text-xl: $font-size-base * 2; //32px
$text-2xl: $font-size-base * 2.25; //36px
$text-3xl: $font-size-base * 2.625; //42px
$text-4xl: $font-size-base * 3; //48px
$text-5xl: $font-size-base * 4; //64px

$black:#000000;
$white:#ffffff;
$gray:#F8F9FA;

$gray-100: #F8F9FA;
$gray-200: #CED4DA;
$gray-300: #6C757D;
$gray-400: #212529;

$grenn-100: #198754; //$primary
$primary:$grenn-100;
$secondary: #212529;
$third: #CED4DA;

$gray-400:#707070;
$gray-500:#555555;
$gray-600:#212529;
$brown-500:#B75929;
$brown-800:#5F3E2D;


