/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Mono&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.5; }

img {
  max-width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover; }

a {
  text-decoration: none;
  display: block; }

.container {
  padding: 32px; }

.side-bar {
  position: fixed;
  min-width: 296px;
  min-height: 100vh;
  background-color: #F8F9FA; }
  .side-bar-list {
    margin-left: 32px; }
  .side-bar-logo {
    margin-top: 32px;
    margin-bottom: 42px; }
    .side-bar-logo a {
      width: 151px;
      height: 40px;
      background-image: url("../images/logo-ANSWER.svg");
      background-size: cover;
      display: block;
      text-indent: 101%;
      overflow: hidden;
      white-space: nowrap; }
  .side-bar-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 29px; }
    .side-bar-item span {
      font-size: 24px;
      padding-right: 16px; }
    .side-bar-item p {
      font-size: 16px;
      line-height: 24px;
      font-weight: bold;
      cursor: pointer; }
    .side-bar-item a {
      color: #000000;
      text-decoration: none; }
    .side-bar-item a:hover {
      color: #198754; }
    .side-bar-itemActive {
      color: #198754; }
  .side-bar-item:hover {
    color: #198754; }
  .side-bar-member {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 32px;
    margin-left: 32px; }
  .side-bar-img {
    padding-right: 16px; }
    .side-bar-img img {
      border-radius: 24px;
      width: 40px;
      height: 40px; }
  .side-bar-text p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0; }
  .side-bar-text span {
    font-size: 14px; }

.assignment {
  margin-left: 296px; }
  .assignment-top {
    width: 920px;
    margin-bottom: 41px; }
    .assignment-top h2 {
      font-size: 24px;
      padding-right: 50px; }
    .assignment-top h3 {
      padding-right: 9px; }
    .assignment-top span {
      cursor: pointer; }
  .assignment-group {
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px; }
  .assignment-content {
    width: 584px;
    border: 1px solid #CED4DA; }
  .assignment-select {
    margin-top: 41px;
    margin-bottom: 4px; }
    .assignment-select h4 {
      font-size: 12px;
      color: #6C757D; }
  .assignment-header {
    color: #212529;
    background-color: #F8F9FA;
    padding: 12px 16px; }
    .assignment-header p {
      font-size: 12px; }
    .assignment-header span {
      cursor: pointer; }
  .assignment-body img {
    min-width: 40px;
    height: 40px;
    border-radius: 50%; }
  .assignment-body span {
    cursor: pointer; }
  .assignment-text {
    width: 488px; }
    .assignment-text h3 {
      color: #212529;
      font-weight: bold; }
    .assignment-text h4 {
      font-size: 12px;
      color: #6C757D; }
    .assignment-text p {
      font-size: 14px; }

.side-bar-box {
  width: 320px;
  color: #212529;
  padding: 12px; }
  .side-bar-box h4 {
    font-size: 12px; }
  .side-bar-box:hover {
    background-color: #F8F9FA; }

.download {
  padding: 8px 0;
  width: 176px;
  font-weight: bold;
  text-align: center;
  color: #212529;
  background-color: #F8F9FA; }

.text-color {
  color: #198754;
  background-color: #F8F9FA; }

.text-gary {
  color: #6C757D; }

.read-btn {
  border: 1px solid #198754;
  color: #198754;
  padding: 8px 32px; }
  .read-btn:hover {
    background-color: #198754;
    color: #ffffff; }

.replay-btn {
  background-color: #198754;
  color: #ffffff;
  padding: 8px 32px; }
  .replay-btn:hover {
    color: #ffffff;
    opacity: 0.8; }

.admin {
  margin-left: 296px; }
  .admin-title {
    width: 936px; }
    .admin-title h2 {
      font-size: 24px; }
    .admin-title span {
      cursor: pointer; }
  .admin-header {
    border-bottom: 1px solid #000000; }
  .admin-body th {
    padding-top: 19px;
    padding-bottom: 17px;
    border-bottom: 1px solid #CED4DA; }
  .admin-table {
    width: 936px; }
    .admin-table span {
      cursor: pointer; }
      .admin-table span:hover {
        color: #198754; }
  .admin-page {
    width: 936px;
    margin-top: 63px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .admin-page-item {
      outline: 1px solid #198754;
      border-radius: 2px; }
      .admin-page-item p {
        padding: 0 11.5px;
        padding-top: 6px;
        padding-bottom: 7px; }
        .admin-page-item p:hover {
          background-color: #198754;
          color: #ffffff; }
      .admin-page-item span {
        padding: 4px;
        cursor: pointer; }
        .admin-page-item span:hover {
          opacity: 0.6; }

.modal-header {
  padding: 32px;
  border-bottom: 0; }
  .modal-header button {
    font-size: 24px; }

.modal-body {
  padding: 32px; }

.modal-title {
  font-size: 24px; }

.modal-account {
  color: #212529; }
  .modal-account h4 {
    font-size: 20px; }
  .modal-account label {
    font-size: 14px; }
  .modal-account input {
    padding: 12.5px 0; }

.modal-verif {
  color: #212529; }
  .modal-verif-icon {
    margin-bottom: 18px; }
  .modal-verif h4 {
    font-size: 20px;
    border-top: 1px solid #CED4DA;
    padding-bottom: 18px; }
  .modal-verif h5 {
    font-size: 14px; }
  .modal-verif span {
    padding-right: 9px; }
  .modal-verif a {
    color: #198754;
    text-align: center;
    display: block;
    background-color: #ffffff;
    border: 1px solid #CED4DA;
    border-radius: 2px; }
  .modal-verif button {
    background-color: #ffffff;
    border: 1px solid #CED4DA;
    border-radius: 2px; }

.modal-access {
  color: #212529; }
  .modal-access h4 {
    font-size: 20px;
    border-top: 1px solid #CED4DA; }
  .modal-access select {
    color: #6C757D; }

.modal-custom {
  color: #212529; }
  .modal-custom h4 {
    font-size: 20px; }

.modal-deactivate h4 {
  font-size: 20px;
  border-top: 1px solid #CED4DA; }

.modal-deactivate a {
  color: #dc3545;
  margin-top: 18px; }
  .modal-deactivate a:hover {
    background-color: #dc3545;
    color: #ffffff;
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s; }

.modal-view {
  padding: 32px;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px; }
  .modal-view img {
    min-width: 141px;
    height: 141px; }

.modal-admin p {
  font-size: 24px; }

.modal-admin h4 {
  color: #6C757D;
  font-size: 14px; }

.modal-admin a {
  color: #212529;
  background-color: #707070; }

.modal-admin h5 {
  padding: 4px 8px;
  font-size: 14px;
  background-color: #F8F9FA; }

.modal-footer {
  border-top: 0;
  padding-top: 18px;
  padding-bottom: 32px; }

.disabled {
  color: #CED4DA; }

/*# sourceMappingURL=all.css.map */
